.header {
  background-color: #ffffff;

  &__wrapper {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto;
  }

  &__inner {
    height: 100%;
    padding: 10px 0;
  }
}
