@font-face {
  font-weight: 300;
  font-family: 'Open Sans Condensed';
  font-style: normal;
  src: url(../../fonts/OpenSansCondensed-Light.woff2), url(../../fonts/OpenSansCondensed-Light.woff2);
  font-display: swap;
}
