.desk {
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
  }
}

.project {
  padding: 0 20px 20px;

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 30px;
    margin-top: 40px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
    cursor: pointer;

    &:first-child {
      justify-content: center;
    }
  }

  &__btn {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    font-size: 12px;

    span {
      margin-top: 10px;
    }
  }

  &__image {
    width: 300px;
    height: 150px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
  }

  &__text {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
  }

  &__name {
    margin: 0 auto;
    font-size: 13px;
    font-weight: bold;
  }

  &__date {
    display: flex;
    justify-content: space-between;
  }

  &__time {
    margin-top: 10px;
    font-size: 11px;
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#000, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;

  &--open {
    visibility: visible;
    opacity: 1;
  }

  &__body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 30px 10px;
  }

  &__btn {
    padding: 5px 7px 0;
    background-color: transparent;
    border: none;
    transition: outline 0.3s, fill 0.3s;
    fill: #fff;

    & svg {
      pointer-events: none;
    }

    &:focus {
      outline: 2px solid #000;

      & svg {
        fill: red;
      }
    }

    &:hover {
      & svg {
        fill: red;
      }
    }

    &:disabled {
      fill: grey;

      &:hover {
        & svg {
          fill: grey;
        }
      }
    }

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }

    &.left,
    &.right {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 50px;
      background-color: rgba(#000, 0.5);
      transition: background-color 0.3s;
    }
  }

  &__content {
    position: relative;
    max-width: 50vw;
    max-height: 80vh;
    padding: 15px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
    background-color: #fff;
  }

  &__list {
    margin-bottom: 10px;
  }

  &__item {
    margin-bottom: 10px;
  }
}


.radio {
  display: flex;
  flex-direction: column;

  &__label {
    display: flex;
    align-items: center;

    &:not(:first-child) {
      margin-top: 10px;
    }
  }

  &__input {

    &:checked + .radio__btn {
      background-color: red;
    }
  }

  &__btn {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #000;
    background-color: #fff;
    margin-right: 10px;

    &--checked {
      border-color: aqua;
    }

    &--disabled {
      border-color: gray;
    }
  }
}
